<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #ecf0f1;">
    <nav class="navbar navbar-expand-lg" style="background-color: #2c3e50; padding: 10px 0;">
        <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <a class="navbar-brand" href="http://localhost:8080/usuarios" style="display: flex; justify-content: center; align-items: center;">
                <img src="https://github.com/AnaAlicepb/servidor_estatico/blob/main/biblioteca-logo.png?raw=true" alt="Logo" style="max-height: 100px; height: auto;">
            </a>
            <button class="btn" onclick="window.location.href='http://localhost:8080/';" 
                    style="color: #ffffff; background-color: #2c3e50; border-color: #2c3e50; transition: background-color 0.3s, border-color 0.3s; margin-left: auto;"
                    onmouseover="this.style.backgroundColor='#34495e'; this.style.borderColor='#ecf0f1';"
                    onmouseout="this.style.backgroundColor='#2c3e50'; this.style.borderColor='#2c3e50';">
                Sair
            </button>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="mb-4 text-center" style="color: #2c3e50;">Lista de Livros</h1>
        <div class="row">
            <div class="col-md-4" th:each="livro : ${livros}">
                <div class="card mb-4">
                    <img class="card-img-top" th:src="${livro.imagemUrl}" alt="Imagem do Livro">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${livro.nome}" style="color: #2c3e50;">Título do Livro</h5>
                        <p class="card-text" th:text="${livro.descricao}">Descrição do Livro</p>
                        <a th:href="${livro.link}" class="btn btn-primary" target="_blank">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
